<%- include("../partials/header.ejs") %> 



<%- include("../partials/dashboardHeader.ejs",{addLink:'/admin/agwnas/addAgwnas',alterLink:'/admin/agwnas/alterAgwnas',removeLink:'/admin/agwnas/deleteAgwnas'})%>

<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
  <h1 class="h2">Τροποποίηση Αγώνα</h1>
</div>
sxedon idio me add agwnas mono me filtro gia epilogh agwna kai sta placeholders oi times tou agwna

<%- include("../partials/dashboardFooter.ejs")  %>
  
 <%- include("../partials/footer.ejs") %> 
