 <%- include("../partials/header.ejs") %> 



<%- include("../partials/dashboardHeader.ejs",{addLink:'#add',alterLink:'#alter',removeLink:'#delete'})%>

<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
  <h1 class="h2">Ανακοίνωση</h1>

  <div class="btn-toolbar mb-2 mb-md-0">
    <div class="btn-group me-2">
      <button type="button" class="btn btn-sm btn-outline-secondary">Προσθήκη</button>
    </div>
    <button type="button" class="btn btn-sm btn-outline-secondary dropdown-toggle">
      <span data-feather="calendar"></span>
      This week
    </button>
  </div>
</div>

<form action="#add">
  <div class="form-group">
    <label for="add_title">Τίτλος</label>
    <input type="title" class="form-control" id="add_title" placeholder="Δώσε έναν τίτλο.">
  </div>
  
  <div class="form-group">
    <label for="add_textinput">Περιεχόμενο</label>
    <textarea class="form-control" id="add_textinput" rows="3"></textarea>
  </div>
</form>

<form action="#delete">
  <div class="form-group">
    <label for="add_title">Κωδικός Ανακοίνωσης</label>
    <input type="title" class="form-control" id="add_title" placeholder="Δώσε έναν τίτλο.">
  </div>
  
</form>


<%- include("../partials/dashboardFooter.ejs")  %>
  
 <%- include("../partials/footer.ejs") %> 
