<%- include("partials/header.ejs") %>

<div class="row mt-5">
    <div class="col-6 offset-3">
        <div class="alert alert-primary"
             role="alert">
            <%= message %>
        </div>
    </div>
    <div class="col-12">
      
                <%= stacktrace %>
         
    </div>
</div>

<%- include("partials/footer.ejs") %>