<%- include("../partials/header.ejs") %>
<i style="color: red;">Η τρέχουσα ιστοσελίδα έιναι απλώς ενδεικτική. Παρουσιάζει απλώς ένα παράδειγμα σχετικα με τον τρόπο της μελλοντικής της ανάπτυξης και επέκτασης. Δεν αποτελεί μέρος της τωρινής έκδοσης.</i>
<h1>Βαθμολογίες</h1>
<%- include("../partials/footer.ejs") %>