<%- include("../partials/header.ejs") %>
<h1>ghpeda</h1>
    
<div class="card d-inline-block m-3" style="width: 40rem;">
        <div class="row g-0">
            <div class="col-md-6"><img src="/media/bernabeu.jpg" class="card-img-top" alt="..."></div>
            <div class="col-md-6">   <div class="card-body">
                <a href="#" class="btn btn-primary">Bernabeu</a>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Itaque omnis blanditiis molestias quidem quas aspernatur, eligendi inventore quos tenetur quisquam cum laborum repellat praesentium assumenda recusandae dolorum quibusdam voluptas impedit.</p>
                </div>
            </div>
        </div> 
</div>

<div class="card d-inline-block m-3" style="width: 40rem;">
    <div class="row g-0">
        <div class="col-md-4"><img src="/media/bernabeu.jpg" class="card-img-top" alt="..."></div>
        <div class="col-md-8">   <div class="card-body">
            <a href="#" class="btn btn-primary">Bernabeu</a>
            </div>
        </div>
    </div> 
</div>



<%- include("../partials/footer.ejs") %>