<%- include("../partials/header.ejs") %>
<i style="color: red;">Η τρέχουσα ιστοσελίδα έιναι απλώς ενδεικτική. Παρουσιάζει απλώς ένα παράδειγμα σχετικα με τον τρόπο της μελλοντικής της ανάπτυξης και επέκτασης. Δεν αποτελεί μέρος της τωρινής έκδοσης.</i>
<h1>Ποδοσφαιριστές</h1>

filter: <br>
by team <br>
by name

<div class="podosfairistes"><div class="card d-inline-block m-3" style="width: 12rem;">
    <img src="/media/footballer.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <a href="#" class="btn btn-primary">Γιώργος Γεωργίου</a>
    </div>
</div>

<div class="card d-inline-block m-3" style="width: 12rem;">
    <img src="/media/footballer.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <a href="#" class="btn btn-primary">Γιώργος Γεωργίου</a>
    </div>
</div>

<div class="card d-inline-block m-3" style="width: 12rem;">
    <img src="/media/footballer.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <a href="#" class="btn btn-primary">Γιώργος Γεωργίου</a>
    </div>
</div>

<div class="card d-inline-block m-3" style="width: 12rem;">
    <img src="/media/footballer.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <a href="#" class="btn btn-primary">Γιώργος Γεωργίου</a>
    </div>
</div>

<div class="card d-inline-block m-3" style="width: 12rem;">
    <img src="/media/footballer.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <a href="#" class="btn btn-primary">Γιώργος Γεωργίου</a>
    </div>
</div>

<div class="card d-inline-block m-3" style="width: 12rem;">
    <img src="/media/footballer.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <a href="#" class="btn btn-primary">Γιώργος Γεωργίου</a>
    </div>
</div>

<div class="card d-inline-block m-3" style="width: 12rem;">
    <img src="/media/footballer.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <a href="#" class="btn btn-primary">Γιώργος Γεωργίου</a>
    </div>
</div></div>

<%- include("../partials/footer.ejs") %>