<%- include("../partials/header.ejs") %>
<i style="color: red;">Η τρέχουσα ιστοσελίδα έιναι απλώς ενδεικτική. Παρουσιάζει απλώς ένα παράδειγμα σχετικα με τον τρόπο της μελλοντικής της ανάπτυξης και επέκτασης. Δεν αποτελεί μέρος της τωρινής έκδοσης.</i>
<h1>Σωματεία</h1>
<div class="card d-inline-block m-3" style="width: 40rem;">
    <div class="row g-0">
        <div class="col-md-3"><img src="/media/real.png" class="card-img-top" alt="..."  ></div>
        <div class="col-md-9">   <div class="card-body">
            <a href="#" class="btn btn-primary">Real madrid</a>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Itaque omnis blanditiis molestias quidem quas aspernatur, eligendi inventore quos tenetur quisquam cum laborum repellat praesentium assumenda recusandae dolorum quibusdam voluptas impedit.</p>
            </div>
        </div>
    </div> 
</div>

<div class="card d-inline-block m-3" style="width: 40rem;">
<div class="row g-0">
    <div class="col-md-4"><img src="/media/real.png" class="card-img-top" alt="..."></div>
    <div class="col-md-8">   <div class="card-body">
        <a href="#" class="btn btn-primary">Real madrid</a>
        </div>
    </div>
</div> 
</div>

<%- include("../partials/footer.ejs") %>